<div class="grid" style="margin: 15px;">
	<div class="row">
		<div class="col col-6">
			<div class="form-group">
				Display: <select name="" class="inline awp white" data-filter="display">
					<option value="all">All</option>
					<option value="published" selected>Published</option>
					<option value="unpublished">Unpublished</option>
				</select>
			</div>
		</div>
		<div class="col col-6 right">
			
		</div>
	</div>
</div>

<div style="box-sizing: border-box;padding: 15px;">
	<div data-area="pagelist">
		
	</div>
</div>
