.form-group {
	display: block;
	label {
		display: block;
		font-weight: 400;
		color:#444950ba;
		margin-bottom: 2px;
	}
	label.inline {
		display: inline;
		font-weight: 400;
		margin-bottom: 0;
		margin-left:.5em;
	}
	label.sm {
		font-size: 13px;
		font-weight: 600;
	}
	.value {
		color: #727579;
	}
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="number"],
	input[type="date"],
	input[type="time"],
	input[type="phone"],
	input[type="search"],
	textarea {
		width: 100%;
		padding: 5px 5px 6px 5px;
		box-sizing: border-box;
		border: 1px solid #dadada;
		border-radius: 3px;
	}
	input[tyoe="range"],
	input[type="range"]::-webkit-slider-runnable-track,
	input[type="range"]::-moz-range-track {
		width: 100%;
	}
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	input[type="number"]:focus,
	input[type="date"]:focus,
	input[type="time"]:focus,
	input[type="phone"]:focus,
	input[type="search"]:focus,
	textarea:focus {
		outline: none;
		border-color: #9ecaed;
		box-shadow: 0 0 5px #9ecaed;
	}
	input.nooutline:focus,
	textarea.nooutline:focus,
	select.nooutline:focus {
		border-color: #dadada;
		box-shadow: none;
	}
	input.lg {
		font-size: 1.2em;
		font-weight: 100;
		padding: 10px;
	}
	input.hw {
		width: 50%;
	}
	input.thw {
		width: 33%;
	}
	input.sh {
		width: 100px;
	}
	input.center {
		text-align: center;
	}
	input.readonly {
		color: #808080;
		background-color: #fafafa;
	}
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding: 5px;
		margin: 0;
		width: 100%;
		border-radius: 3px;
		background: transparent;
		color: #7a7a7a;
		border: 1px solid #dadada;
		outline: none;
		cursor: pointer;
		background-image:
			linear-gradient(45deg, transparent 50%, #dadada 50%),
			linear-gradient(135deg, #dadada 50%, transparent 50%);
		background-position:
			calc(100% - 20px) calc(1em - 2px),
			calc(100% - 13px) calc(1em - 2px);
		background-size:
			8px 8px,
			8px 8px;
		background-repeat: no-repeat;
	}
	select.res-lg {
		font-size: 1.2em;
		padding: 10px;
		font-weight: 100;
		background-position:
			calc(100% - 20px) calc(1.2em - 2px),
			calc(100% - 13px) calc(1.2em - 2px);
	}
	select.aw {
		width: auto;
		background-image: none;
	}
	select.awp {
		width: auto;
		padding: 4px 25px 6px 10px;
		background-position:
			calc(100% - 13px) calc(1em - 2px),
			calc(100% - 7px) calc(1em - 2px);
			background-size:
			6px 6px,
			6px 6px;
	}
	select.inline {
		display: inline;
	}
	select.white {
		background-color: #fff;
	}
	.selectinput {
		clear:both;
		border: 1px solid #dadada;
		border-radius: 3px;
		>.content {
			display: inline-block;
			width: calc(100% - 80px);
			padding: 5px;
			color:#404040;
		}
		>.content.notdefined {
			color:#bebebe;
		}
		>ul.buttons {
			float: right;
			position: relative;
			top: -30px;
			right: -1px;
			list-style: none;
			margin: 0;
			>li {
				display: inline-block;
				>button {
					height: 31px;
					border-radius: 0;
					border-right: 1px solid #00000060;
					border-left: 1px solid #ffffff60;
				}
			}
			>li:first-child {
				>button {
					border-left: none;
				}
			}
			>li:last-child {
				margin-right: 0;
				>button {
					border-radius: 0 3px 3px 0;
					border-right: none;
				}
			}
		}
	}
	.search {
		width: 100%;
		background-color: #fff;
		box-sizing: border-box;
		border: 1px solid #dadada;
		border-radius: 3px;
		input[type="search"] {
			float: left;
			width: calc(100% - 100px);
			padding: 10px;
			font-size: 1.2em;
			border: none;
		}
		input[type="search"]:focus {
			outline: none;
			border-color: none;
			box-shadow: none;
		}
		button {
			font-size: 1.5em;
			position: relative;
			float: right;
			top: 2px;
		}
	}
	.search:after {
		content: "";
		display: table;
		clear: both;
	}
	.help {
		font-size: 0.8em;
		color: #b0b0b0;
		margin-top: 3px;
		line-height: 1.2em;
	}
	.help-block {
		display: block;
		font-size: 0.9em;
		color: #a1a1a1;
		margin-top: 3px;
		line-height: 1.2em;
	}
	.sm {
		font-size: 1em;
	}
	ul {
		margin: .5em 0 2em 0;
		padding-left: 1.4em;
	}
	.valerr,
	input.valerr,
	textarea.valerr {
		color: #ff0000;
		//border: 1px solid #ff0000;
		//box-shadow: 0 0 5px rgba(255, 0, 0, .5);
	}
	input.errborder,
	textarea.errborder,
	select.errborder {
		border: 1px solid #ff0000;
	}
}
.form-group.valerr {
	label,
	input,
	textarea {
		color: #ff0000;
	}
}
.form-group.has-error {
	label,
	input,
	textarea {
		border-color: #ff0000;
	}
}
.form-group.space {
	margin-bottom: 1em;
}


@media handheld, screen and (max-width:400px) {
	.form-group {
		select.res-noarrow {
			background-image: none;
		}
		select.res-lg {
			font-size: 1em;
			padding: 10px;
			font-weight: 100;
			height: 3.2em;
			background-position:
				calc(100% - 20px) calc(1.2em - 2px),
				calc(100% - 13px) calc(1.2em - 2px);
		}
	}
}