.gridtable {
	>.row {
		display: table;
		table-layout: fixed;
		width: 100%;
		.col {
			display: table-cell;
			vertical-align: middle;
			width: auto;
		}
		.col.col-1 {
			width: 8.3333333333%;
		}
		.col.col-2 {
			width: 16.666666666%;
		}
		.col.col-3 {
			width: 25%;
		}
		.col.col-4 {
			width: 33.333333333%;
		}
		.col.col-5 {
			width: 41.666666666%;
		}
		.col.col-6 {
			width: 50%;
		}
		.col.col-7 {
			width: 58.333333333%;
		}
		.col.col-8 {
			width: 66.666666666%;
		}
		.col.col-9 {
			width: 75%;
		}
		.col.col-10 {
			width: 83.333333333%;
		}
		.col.col-11 {
			width: 91.666666666%;
		}
		.col.col-12 {
			width: 100%;
		}
		.col.left {
			text-align: left;
		}
		.col.center {
			text-align: center;
		}
		.col.right {
			text-align: right;
		}
		.col.top {
			vertical-align: top;
		}
		.col.middle {
			vertical-align: middle;
		}
		.col.bottom {
			vertical-align: bottom;
		}
	}
}