.itabbox {
	max-width: 1400px;
	margin: 0 auto;
	ul.itabs {
		list-style-type: none;
		background-color: #515860;
		border-radius: 5px;
		margin: 0 0 20px 0;
		overflow-x: auto;
		white-space:nowrap;
		z-index: 1;
		li {
			display: inline-block;
			cursor: pointer;
			span {
				font-size: 14px;
				font-weight: 300;
				display: inline-block;
				padding: 8px 15px;
				color: #cccccc;
			}
		}
		li:hover {
			span {
				color: #fff;
			}
		}
		li.active,
		li.active:hover {
			span {
				color: #fff;
				background-color: #363e49;
			}
		}
	}
	ul.itabs::-webkit-scrollbar {
		display: none;
	}
	.itabcontent {
		>div {
			display: none;
			margin: 0;
		}
		>div:first-child {
			display: block;
		}
	}
}
.itabbox.block {
	ul.itabs {
		display: flex;
		padding: 0;
		>li {
			width: 100%;
			text-align: center;
			margin:0;
			>span {
				display: block;
			}
		}
	}
}
.itabbox.nobottomborder {
	.itabcontent {
		border-bottom: none;
	}
}

@media (max-width: 768px) {
	.itabbox {
		ul.itabs {
			li {
				
			}
		}
	}
}