<div class="grid" style="margin: 15px;">
	<div class="row">
		<div class="col col-6">
			<ul class="btngroup">
				<li><span>This article</span></li>
			</ul>
		</div>
		<div class="col col-6 right">
			<label for="imgselector" class="btn btn-primary">Upload images</label>
			<input id="imgselector" type="file" name="images[]" accept="image/*" multiple style="width: 0;visibility:hidden;">
		</div>
	</div>
</div>

<div style="box-sizing: border-box;padding: 15px;">
	<ul class="uploadlist"></ul>
	<div data-area="imglist">
		
	</div>
</div>
